* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #b40000;
  background-image: url(../images/turma\ da\ colina.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #000000;
  color: #b40000;
  padding: 10px;
  text-shadow: 2px 2px 2px #bbaeae;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 2.5vw;
   font-weight: bolder;
}

main > article {
  border: 5px solid #000000;
  background-color: #a20d0dc1;
  border-radius: 0px 0px 10px  10px;
  padding: 10px;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

main > article > p {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2vw;
  font-weight: bold;
  text-indent: 30px;
  text-shadow: 3px 3px 3px #000000;
  text-align: justify;
}

main > article > h2 {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 2px 2px 3px #000000;
  text-align: center;
}

.image,.image2,.image3,.image4{
  border: 5px solid #000000;
  margin: auto;
  max-width: 10vw;
  min-width: 320px;
  max-height: 10vh;
  min-height:300px ;
}


.image{
  background-image: url(../images/aborto\ elétrico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image2{
  background-image: url(../images/plebe\ rude.jpg.crdownload);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image3{
  background-image: url(../images/turma-da-colina-2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image4{
  background-image: url(../images/);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1vw;
   margin-top: 48px;
}

#foot{
  display: inline-block;
  margin-left: 50px;
}

#foot2{
  margin-left: 50px;
  display: inline-block;
}

#foot3{
  margin-left: 30px;
  display: inline-block;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  transition: 1s;
  color: #b40000;
}